.github/**
docs/**
examples/**
src/**
test/**
*.ts
.git/**
.gitignore
node_modules/.cache/**
tmp/**
.vscode/**
*.log
out/test/**
.vscode-test/**
.vscode-test.mjs
.DS_Store
*.vsix
tsconfig*.json
.gitignore
.eslintrc*
**/*.map
**/*.ts
.venv/**
**/__pycache__/**
**/*.pyc
.flowrunner/**